@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(./image.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    font-family: "Edu AU VIC WA NT Pre", serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #4c2474;
    background-color: rgb(175, 131, 217);
    padding: 40px;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #4c2474;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #b53fc7;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.input-group input:focus {
    border-color: #0c0d0c;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #511f83;
    color: #d4bfef;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ad92d0;
    color: #511f83;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    text-decoration: none;
    color: #511f83;
}

.signup-link a:hover {
    text-decoration: underline;
}
